body {
    background-color: black;
}

a[href^='#'] {
    font-size: 0.7em;
    font-weight: bold;
    vertical-align: super;
}

img {
    display: table;
    margin-right: auto;
    margin-left: auto;
}

.body {
    max-width:600px;
    width: 600px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.body > .title,
.body > .epigraph,
#title-info > *,
.section {
    margin-top: 2.5em;
    margin-bottom: .5em;
    padding: 2em;

    background-color: #cc7700;
    border-radius: 2em;
}

.book-title, .title, .subtitle, .poem {
    text-align: center;
}

.section > p {
    text-indent: 2em;
}

.cite {
    font-style: italic;
}

.epigraph {
    font-style: italic;
    text-align: right;
}

.unknown-tag {
    background-color: red;
    opacity: 0.5;
}

#fiction-book .fb2-id,
#fiction-book .genre,
#fiction-book .lang {
    display: none;
}
#document-info {
    height: 100%;
    background-color: gray;
    position: fixed;
    transition-duration: 1s;
    right: -500px;
    top: 0;
} #document-info:hover {
    right: 0;
  }

#back-button {
    font-size: 1.2em;
    position: fixed;
    bottom: 1em;
    left: 1em;
    display:none;

    background-color: white;
    opacity: 0.5;
    padding: 1em;
    border: 0;
    border-radius: 2em;
}