body {
    background-color: black;
}

img {
    max-width: 100%;
}

.local-link {
    font-size: 0.7em;
    font-weight: bold;
    vertical-align: super;
}

.body {
    max-width:100%;
    width: 600px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.body > .title,
.body > .epigraph,
.section {
    margin-top: 2.5em;
    padding: 2em;

    background-color: #cc7700;
    border-radius: 2em;
}

.book-title, .title, .subtitle, .poem {
    text-align: center;
}
.fiction-book .fb2-id,
.fiction-book .lang,
.fiction-book .genre {
    display: none;
}

.section > p {
    text-indent: 2em;
}

.cite {
    font-style: italic;
}

.epigraph {
    font-style: italic;
    text-align: right;
}

.unknown-tag {

}
